##############################
## IntelliJ
##############################
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

##############################
## Visual Studio Code
##############################
.vscode/
.code-workspace

##############################
## OS X
##############################
.DS_Store

##############################
## Python
##############################
.venv/
__pycache__/
*.py[cod]

##############################
## Secrets
##############################
.env